h2 {
  background-color: rgb(86, 43, 129);
  color: white;
}

h1,
h2 {
  padding: 0 1rem;
}

.column-half img {
  width: 400px;
  height: auto;
}

label {
  font-weight: bold;
  padding-bottom: 0.5rem;
}

label,
input,
textarea {
  display: block;
  width: 100%;
  padding-top: 1rem;
}

.column-half img,
button,
input,
textarea {
  border-radius: 0.25rem;
}
